{% extends 'base.html' %}
{% block title %}Strona Główna{% endblock %}
{% block content %}
    <h1>Quizy Publiczne</h1>
    <form method="get" action="{% url 'home' %}">
        <p><input type="search" name="q" placeholder="Szukaj quizu..." value="{{ request.GET.q | default:'' }}"></p>
    </form>
    <div class="quiz-list">
        {% for quiz in quizzes %}
            <div class="quiz-item">
                <a href="{% url 'quiz-detail' quiz.pk %}">{{ quiz.title }}</a>
                <span>Autor: {{ quiz.author.username }}</span>
            </div>
        {% empty %}
            <p>Nie znaleziono publicznych quizów pasujących do Twojego zapytania.</p>
        {% endfor %}
    </div>
{% endblock %}