{% extends 'base.html' %}
{% block title %}{{ quiz.title }}{% endblock %}
{% block content %}
  <h1>{{ quiz.title }}</h1>
  <p>
    Liczba pytań w quizie: 
    <strong>
    {% if quiz.questions_count_limit > 0 and quiz.questions_count_limit < quiz.questions.count %}
        {{ quiz.questions_count_limit }} (wylosowane z puli {{ quiz.questions.count }})
    {% else %}
        {{ quiz.questions.count }}
    {% endif %}
    </strong>
  </p>

  {% if quiz.time_limit > 0 %}
    <p><strong>Limit czasu:</strong> {{ quiz.time_limit }} minut.</p>
  {% else %}
    <p><strong>Limit czasu:</strong> Brak.</p>
  {% endif %}

  {% if quiz.questions.count > 0 %}
    <a class="btn btn-primary" href="{% url 'quiz-start' pk=quiz.pk %}">Rozpocznij</a>
  {% else %}
    <p>Ten quiz nie ma jeszcze pytań.</p>
  {% endif %}
  
  {% if user.is_authenticated %}
      {% if user == quiz.author or user in quiz.editors.all %}
        <p style="margin-top:1rem;">
          <a href="{% url 'quiz-edit' pk=quiz.pk %}">Edytuj quiz</a>
        </p>
      {% endif %}
  {% endif %}
{% endblock %}